@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

html,
body,
#root {
  min-height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  overscroll-behavior-y: none;
}
